<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="author" content="Brian Douglass">

        <title>Simply Light Config</title>

        <link rel="stylesheet" href="main.css?v=<%= version %>" />
        <script src="app.js?v=<%= version %>"></script>
    </head>

    <body ng-controller="indexCtrl">
        <div class="item-container-header header">
            <a ng-click="cancel()" class="pull-right clickable">Cancel</a>
            <h2>Simply Light <span class="ng-cloak">(v{{version}})</span></h2>
        </div>

        <div class="item-container outdated ng-cloak" ng-show="version < latestVersion">
            You're running an outdated version of Simply Light, update to v{{latestVersion}} for the latest and greatest features!
        </div>

        <div class="item-container ng-cloak clear-fix">
            <div class="item-container-header">Weather Options</div>

            <div class="item-container-content">
                <label class="item">
                    Temperature Unit
                    <select class="item-select" dir="rtl" id="temperature_units" ng-model="config.temperature_units" ng-options="o.value as o.label for o in temperature_units"></select>
                </label>
            </div>

            <div class="item-container-content" ng-show="version < 4.0">
                <label class="item">
                    Weather Provider
                    <select class="item-select" dir="rtl" id="weather_provider" ng-model="config.weather_provider" ng-options="o.value as o.label for o in old_weather_provider"></select>
                </label>
            </div>

            <div class="item-container-content" ng-show="version >= 4.0">
                <label class="item">
                    Weather Provider
                    <select class="item-select" dir="rtl" id="weather_provider" ng-model="config.weather_provider" ng-options="o.value as o.label for o in weather_provider"></select>
                </label>
            </div>

            <div class="item-container-content" ng-show="version >= 4.0 && config.weather_provider == OPENWEATHERMAP">
                <label class="item">
                    Open Weather Map API Key
                    <div class="item-input-wrapper">
                        <input type="text" class="item-input" id="openweathermap_api_key" ng-model="config.openweathermap_api_key" placeholder="API Key" />
                    </div>
                </label>
            </div>

            <div class="item-container-content" ng-show="version >= 4.0 && config.weather_provider == FORECASTIO">
                <label class="item">
                    Forecast.io API Key
                    <div class="item-input-wrapper">
                        <input type="text" class="item-input" id="forecastio_api_key" ng-model="config.forecastio_api_key" placeholder="API Key" />
                    </div>
                </label>
            </div>

            <div class="item-container-footer" ng-show="version >= 4.0">
                <p ng-if="config.weather_provider == OPENWEATHERMAP">
                    Leave blank to use the community API key. Using the community key can possibly lead to
                    errors accessing the weather (as there are limits on the key). If you want to sign up for a key
                    visit <a href="http://openweathermap.org/appid">OpenWeatherMap.org</a> and then enter your key here.
                </p>
                <p ng-if="config.weather_provider == YAHOO">
                    Yahoo weather has been unreliable in the past. If you encounter errors try another provider.
                </p>
                <p ng-if="config.weather_provider == YRNO">
                    <a href="http://m.yr.no/">Weather forecast from Yr, delivered by the Norwegian Meteorological Institute and NRK.</a>
                </p>
                <p ng-if="config.weather_provider == FORECASTIO">
                    <a href="http://forecast.io/">Powered by Forecast</a>
                    <br/>
                    Simply Light does not provide an API key for Forecast.io, you must provide your own key.
                </p>
            </div>

            <div class="item-container-content">
                <label class="item">
                    "Feels Like" Temperature
                    <select class="item-select" dir="rtl" id="feels_like" ng-model="config.feels_like" ng-options="o.value as o.label for o in feels_like"></select>
                </label>
            </div>
            <div class="item-container-content">
                <label class="item" ng-class="{'error': errors.refresh_time}">
                    Refresh Time (Minutes)
                    <div class="item-input-wrapper">
                        <input type="number" class="item-input" id="refresh_time" ng-model="config.refresh_time" min="1" />
                    </div>
                </label>
            </div>

            <div class="item-container-content">
                <label class="item" ng-class="{'error': errors.wait_time}">
                    Time to Wait After Error (Minutes)
                    <div class="item-input-wrapper">
                        <input type="number" class="item-input" id="wait_time" ng-model="config.wait_time" min="1" />
                    </div>
                </label>
            </div>

            <div class="item-container-content" ng-show="config.weather_provider == OPENWEATHERMAP && !config.air_quality">
                <label class="item">
                    Use GPS
                    <input type="checkbox" class="item-toggle" id="useGPS" ng-model="useGPS" />
                </label>
            </div>
            <div class="item-container-content" ng-show="!useGPS && config.weather_provider == OPENWEATHERMAP && !config.air_quality">
                <label class="item">
                    <div class="item-input-wrapper">
                        <input type="text" class="item-input" id="location" placeholder="Enter Location" ng-model="config.location" />
                    </div>
                </label>
            </div>
            <div class="item-container-footer" ng-show="">
                Location is currently unavailable for Yahoo Weather or Air Quality.
            </div>
        </div>

        <div class="item-container ng-cloak">
            <div class="item-container-header">Air Quality Options</div>

            <div class="item-container-content" ng-show="version >= 2.9">
                <label class="item">
                    Air Quality
                    <input type="checkbox" class="item-toggle" id="air_quality" ng-model="config.air_quality" />
                </label>
            </div>
            <div class="item-container-footer" ng-show="version >= 2.9">
                <p>
                    When enabled, the current air quality index replaces the temperature.
                    Air Quality information comes from <a href="http://aqicn.org/">aqicn.org</a>
                </p>
                <p ng-if="config.last_aqi_location">
                    Last AQI came from "{{config.last_aqi_location}}"
                </p>
            </div>

            <div class="item-container-content" ng-show="version >= 3.2 && config.air_quality">
                <label class="item">
                    AQI as Degree Icon
                    <input type="checkbox" class="item-toggle" id="aqi_degree" ng-model="config.aqi_degree" />
                </label>
            </div>
            <div class="item-container-footer" ng-show="version >= 3.2 && config.air_quality">
                <p>
                    When enabled, the current air quality index replaces the
                    degree icon for the temperature.
                </p>
            </div>

            <div class="item-container-content" ng-show="version >= 3.3 && config.air_quality">
                <label class="item">
                    Use GPS for AQI
                    <input type="checkbox" class="item-toggle" id="useGPSaqi" ng-model="useGPSaqi" />
                </label>
            </div>
            <div class="item-container-content" ng-show="!useGPSaqi && version >= 3.3 && config.air_quality">
                <label class="item">
                    <div class="item-input-wrapper">
                        <input type="text" class="item-input" id="air_quality_location" ng-model="config.air_quality_location" placeholder="Enter Location" />
                    </div>
                </label>
            </div>

            <div class="item-container" ng-show="version == 2.9 && config.air_quality == 1">
                <div class="item-container-content">
                    <label class="item" ng-class="{'error': errors.aq_refresh_time}">
                        Air Quality Refresh Time (Minutes)
                        <div class="item-input-wrapper">
                            <input type="number" class="item-input" id="aq_refresh_time" ng-model="config.aq_refresh_time" min="2" />
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="item-container ng-cloak">
            <div class="item-container-header">Watchface Options</div>

            <div ng-if="loaded">
                <color-picker ng-model="config.day_text_color" platform="{{platform}}" title="Day Text Color"></color-picker>
                <color-picker ng-model="config.day_background_color" platform="{{platform}}" title="Day Background Color"></color-picker>
                <color-picker ng-model="config.night_text_color" platform="{{platform}}" title="Night Text Color"></color-picker>
                <color-picker ng-model="config.night_background_color" platform="{{platform}}" title="Night Background Color"></color-picker>
                <div class="item-container-footer">
                    Sunset data is based on your location
                </div>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Language
                    <select class="item-select" dir="rtl" id="language" ng-model="config.language" ng-options="o.value as o.label for o in language"></select>
                </label>
            </div>
            <div class="item-container-footer">
                <a href="http://bhdouglass.com/" target="_blank">Contact the author</a> if you want to help add more languages!
            </div>

            <div class="item-container-content">
                <label class="item">
                    Layout
                    <select class="item-select" dir="rtl" id="layout" ng-model="config.layout" ng-options="o.value as o.label for o in layout"></select>
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Show AM/PM
                    <input type="checkbox" class="item-toggle" id="show_am_pm" ng-model="config.show_am_pm" />
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Hide Battery Status Bar
                    <input type="checkbox" class="item-toggle" id="hide_battery" ng-model="config.hide_battery" />
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Show Charging Icon
                    <input type="checkbox" class="item-toggle" id="charging_icon" ng-model="config.charging_icon" />
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Show BT Disconnected Icon
                    <input type="checkbox" class="item-toggle" id="bt_disconnect_icon" ng-model="config.bt_disconnect_icon" />
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Show Battery Percent
                    <select class="item-select" dir="rtl" id="battery_percent" ng-model="config.battery_percent" ng-options="o.value as o.label for o in battery_percent"></select>
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Vibrate on BT Disconnect
                    <input type="checkbox" class="item-toggle" id="vibrate_bluetooth" ng-model="config.vibrate_bluetooth" />
                </label>
            </div>

            <div class="item-container-content" ng-show="version >= 3.6">
                <label class="item">
                    Vibrate on the Hour
                    <input type="checkbox" class="item-toggle" id="hourly_vibrate" ng-model="config.hourly_vibrate" />
                </label>
            </div>

            <div class="item-container-content">
                <label class="item">
                    Icon Glossary

                    <div class="select-triangle" ng-click="showIcons = !showIcons"></div>

                    <ul ng-show="showIcons">
                        <li>
                            <i class="wi wi-fw wi-day-sunny"></i>
                            <i class="wi wi-fw wi-night-clear"></i>
                            Clear
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-cloudy"></i>
                            <i class="wi wi-fw wi-night-cloudy"></i>
                            Cloudy
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-fog"></i>
                            <i class="wi wi-fw wi-night-fog"></i>
                            Mist, Fog, etc
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-sprinkle"></i>
                            <i class="wi wi-fw wi-night-sprinkle"></i>
                            Light Rain
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-rain"></i>
                            <i class="wi wi-fw wi-night-rain"></i>
                            Rain
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-thunderstorm"></i>
                            <i class="wi wi-fw wi-night-thunderstorm"></i>
                            Thunderstorm
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-snow"></i>
                            <i class="wi wi-fw wi-night-snow"></i>
                            Snow
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-snow-thunderstorm"></i>
                            <i class="wi wi-fw wi-night-snow-thunderstorm"></i>
                            Thunderstorm with Snow
                        </li>

                        <li>
                            <i class="wi wi-fw wi-day-hail"></i>
                            <i class="wi wi-fw wi-night-hail"></i>
                            Hail
                        </li>

                        <li>
                            <i class="wi wi-fw wi-windy"></i>
                            Windy
                        </li>

                        <li>
                            <i class="wi wi-fw wi-strong-wind"></i>
                            Extreme Wind
                        </li>

                        <li>
                            <i class="wi wi-fw wi-tornado"></i>
                            Tornado
                        </li>

                        <li>
                            <i class="wi wi-fw wi-hurricane"></i>
                            Hurricane
                        </li>

                        <li>
                            <i class="wi wi-fw wi-snowflake-cold"></i>
                            Extreme Cold
                        </li>

                        <li>
                            <i class="wi wi-fw wi-hot"></i>
                            Extreme Heat
                        </li>

                        <li>
                            <i class="zmdi wi-fw zmdi-battery-flash"></i>
                            Battery Charging
                        </li>

                        <li>
                            <i class="zmdi wi-fw zmdi-bluetooth-off"></i>
                            Bluetooth Disconnected
                        </li>

                        <li>
                            <i class="wi wi-fw wi-cloud-refresh"></i>
                            Fetching Weather
                        </li>

                        <li>
                            <i class="zmdi wi-fw zmdi-cloud-off"></i>
                            Error Fetching Weather
                        </li>

                        <li>
                            <i class="zmdi wi-fw zmdi-pin-off"></i>
                            GPS Turned Off
                        </li>

                        <li>
                            <i class="zmdi wi-fw zmdi-blur-off"></i>
                            Error Fetchign AQI
                        </li>

                        <li>
                            <a href="http://erikflowers.github.io/weather-icons/">
                                Weather Icons by Erik Flowers
                            </a>
                        </li>

                        <li>
                            <a href="http://zavoloklom.github.io/material-design-iconic-font/icons.html">
                                Material Design Icons by Sergey Kupletsky
                            </a>
                        </li>
                    </ul>
                </label>
            </div>
        </div>

        <div class="item-container ng-cloak">
            <div class="button-container">
                <input type="button" class="item-button clickable" value="SAVE" ng-click="save()" />
            </div>
        </div>

        <script src="//www.google-analytics.com/analytics.js"></script>
        <script>
            ga('create', 'UA-16555025-4', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
