.ng-cloak {
    display: none !important;
}

.header {
    background-color: #333333;
}

.pull-right {
    float: right;
}

.clear-fix {
    clear: both;
}

.clickable {
    cursor: pointer;
}

.error {
    color: #FF4700;
}

.outdated {
    text-align: center;
}

.color {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 80px;
}

.color-name {
    display: inline-block;
    float: right;
    margin-right: 70px;
    text-align: right;
    padding-top: 5px;
}

#battery_percent {
    width: 100px;
}

.color-box {
    width: 11.11111111111111%;
    height: 11.11111111111111%;
}

.transparent {
    background: transparent;
    cursor: none;
}

.clear-left {
    clear: left;
}
