.ng-cloak {
    display: none !important;
}

.header {
    background-color: #333333;
}

.pull-right {
    float: right;
}

.clear-fix {
    clear: both;
}

.clickable {
    cursor: pointer;
}

.error {
    color: #FF4700;
}

.outdated {
    text-align: center;
}

.color {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 80px;
}
